/* Общие стили для всего документа */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2c3e50;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Стили для обертки игры */

#game {
    margin: 50px auto;
    max-width: 400px;
    position: relative;
}

/* Стили для шапки игры */

.game-header {
    background-color: #34495e;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.game-score {
    font-size: 24px;
}

/* Стили для счетчика очков */

.score-count {
    font-weight: bold;
}

/* Стили для холста игры */

.canvas-wrapper {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    margin: 10px;
    overflow: hidden;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23525053'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#game-canvas {
    display: block;
}

.intro{
    max-height: 100svh;
}

.video{
    position: relative;
    padding-bottom: 56.25%;
}

.video_media{
    width: 100svw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}